@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

.active {
    background-color: #2F234D !important;
    color: white !important;
}

.active .material-icons-outlined {
    color: white !important;
}

.accordion.active button {
    color: white !important;
    padding: .16rem !important;
}

.accordion.accordion .accordion-body ul.selected li a {
    color: white !important;
}

.accordion.accordion .accordion-body ul li a.selected {
    text-decoration: underline !important;
    text-decoration-color: goldenrod !important;
    text-decoration-thickness: 1.5px !important;
}

.my-bg-secondary {
    background-color: #e0e0e0 !important;
}

.my-bg-third {
    background-color: #f5f5f5 !important;
}

.my-primary {
    color: #301F4C !important;
}

.my-btn-primary {
    background-color: #301F4C !important;
    color: white !important;
}

.my-bg-primary {
    background-color: #301F4C !important;
}

body {
    height: 100vh !important;
    width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden !important;
}

.layout {
    --bs-gutter-x: 0 !important;
    height: 100vh !important;
    width: 100vw !important;
}

nav {
    height: 100% !important;
}

main .container {
    max-height: 88vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.input-group .form-control,
.input-group-text {
    border: 0 !important;
}

h1 {
    font-size: 1rem !important;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none !important;
}

li a {
    color: black !important;
}

.material-icons-outlined {
    font-size: 1rem !important;
    color: black !important;
}

.accordion {
    --bs-accordion-active-color: #000000 !important;
    --bs-accordion-btn-bg: none !important;
    --bs-accordion-border-color: none !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-btn-icon: none !important;
    --bs-accordion-btn-active-icon: none !important;
}

.accordion-button::after {
    display: none !important;
}

.accordion::focus {
    border-color: none !important;
    box-shadow: none !important;
}


/* Styles for Requests Information */
.request-information {
    height: 88vh !important;
}